*,
body {
  margin: 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #828299;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 375px;
  gap: 30px;
  background-color: #faf8f5;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  height: 134px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  position: sticky;
  top: 0px;
  z-index: 200;
}
.content {
  background-image: url("img/Rectangle\ 4header-background.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  background-size: cover;
}
.header__text {
  min-width: 199px;
  height: 40px;
}
.header__text p {
  font-weight: 600;
  color: #ffffff;
}
.btn-goto {
  display: none;
  align-items: center;
  justify-content: center;
  width: 97px;
  height: 36px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  position: absolute;
  left: 957px;
}
.btn-goto a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.wallpaper {
  height: 50px;
  width: 123px;
  padding-top: 5px;
}
.search-connect__wrapper {
  border: 1px solid #ededf2;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.search-connect__wrapper img {
  padding: 16px;
}
.search-connect {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 10px;
}
.header__information {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #ffffff;
}
.underline {
  border: 1px solid #ededf2;
}
.menu__burger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ededf2;
  z-index: 130;
}

.hamb__field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13.71px;
  width: 16px;
  cursor: pointer;
  z-index: 120;
}
.bar {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #192040;
  transition: 0.2s;
}

.menu__burger-icon.active {
  color: #fff;
}
.bar.active {
  color: #fff;
}

.popup {
  position: relative;
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #151e27;
  z-index: 50;
  display: flex;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
}
.popup.open-win {
  left: -34%;
}
.menu__list {
  position: absolute;
  top: 25%;
  left: 55%;
  transform: translate(-50%);
  display: none;
  grid-template-rows: 186px 262px;
  grid-auto-columns: 162px;
}
.popup .menu__list {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  overflow: auto;
  display: grid;
  grid-template-rows: 186px 262px;
  grid-auto-columns: 162px;
}
.popup .menu__list > li {
  width: 100%;
}
.popup .menu__list > a {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.design-wallpaper {
  grid-column: 1/3;
  grid-row: 1/ 2;
}
.firm-wallpaper {
  grid-column: 1/2;
  grid-row: 2 / 3;
}
.vinil-wallpaper {
  grid-column: 2/3;
  grid-row: 2 / 3;
}

.design-wallpaper2 {
  grid-column: 1/3;
  grid-row: 3/ 4;
}
.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}
.hamb__field.active .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}
.hamb__field.active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
.hamb__field.active .bar {
  color: #fff;
}
body.noscroll {
  overflow: hidden;
}
.burger-catalog {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  background-color: #ff2e51;
  height: 61px;
  width: 100%;
  position: sticky;
  top: 133px;
  margin-top: -30px;
  z-index: 60;
}
.catalog__sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 0px 20px;
  gap: 10px;
  width: 156px;
  height: 21px;

}
.catalog__sign p {
  color: #fff;
  font-size: 16px;
}
.arrow {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1120;
  height: 18px;
  width: 18px;
  background-repeat: no-repeat;
  padding: 0px 20px 0px 0px;
}
.open {
  background-image: url("img/Vector.svg");
}
.close {
  background-image: url("img/Vectorback.svg");
}
.popup {
  position: fixed;
  top: -100%;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #faf8f5;
  z-index: 50;
  display: flex;
  transition: 0.3s;
}
.close-win {
  top: 0%;
}
/*.stick {
  display: inline-block;
  width: 2px;
  height: 20px;
  color: wheat;
}
.stick:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}
.stick:nth-child(2) {
  transform: translateY(0px) rotate(-45deg);
}*/
.main {
  width: 89%;
  max-width: 1430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 60px;
}

.swiper {
  position: relative;
  width: 100%;
  height: 524px;
  overflow: hidden;
}

.swiper-wrapper {
  min-width: 0;
  display: flex;
  justify-content: space-between;
  width: 309%;
  height: inherit;
}

.swiper-slide {
  border-radius: 30px;
}
.slide1 {
  background-image: url("img/image\ 14slider1-1920px.png");
  background-repeat: no-repeat;
  background-position: -576px -40px;
}
.slider-discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 40px 30px;
  width: 82%;
  height: 376px;
}
.slider__title {
  width: 100%;
  height: 156px;
  max-width: 710px;
}
.slider__title p {
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  color: #ffffff;
}
.slider__detals {
  width: 250px;
  height: 120px;
  max-width: 710px;
}
.slider__detals p {
  color: #ffffff;
}
.slider__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  gap: 10px;
  width: 274px;
  height: 60px;
  background: #ff2e51;
  border-radius: 50px;
}
.slide2 {
  background-image: url("img/image\ 14slider1-1920px.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.slide3 {
  background-image: url("img/image\ 14slider1-1920px.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 30px;
}

.swiper-scrollbar {
  width: 178px;
  height: 2px;
  background-color: #d2d2d9;
  position: absolute;
  top: 469px;
  right: 60px;
}
.swiper-button-next {
  position: absolute;
  left: 82px;
  top: 460px;
  cursor: pointer;
}
.swiper-button-prev {
  position: absolute;
  left: 33.2px;
  top: 460px;
  cursor: pointer;
}
.block-desc {
  display: none;
}
.block-desc__inner a {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #192040;
}
.header__information-1430-wrapper {
  display: none;
}
.services {
  height: 1279px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background: radial-gradient(
        49.88% 49.88% at 22.29% 100%,
        rgba(207, 213, 229, 0.15) 0%,
        rgba(207, 213, 229, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        80.86% 83.87% at 0% 0%,
        rgba(255, 220, 141, 0.08) 0%,
        rgba(255, 220, 141, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #fffefc;
  border: 2px solid #ffffff;
  border-radius: 30px;
}
.service1 {
  height: 277px;
}
.service-img {
  width: 96px;
  height: 96px;
}
.service-img img {
  border-radius: 50%;
}

.service1__text {
  height: 120px;
}
.text-look {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service1__title {
  width: 274px;
  height: 42px;
}
.service__title-font {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #192040;
}
.service__description {
  width: 274px;
  height: 80px;
}
.service__description-font {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #828299;
}
.service2 {
  height: 258px;
}
.service2__text {
  height: 132px;
}
.service2__title {
  height: 42px;
  width: 250px;
}

.service3 {
  height: 237px;
}
.service3__text {
  height: 111px;
}
.service3__title {
  height: 21px;
}

.service4 {
  height: 237px;
}
.service4__text {
  height: 111px;
}
.service4__title {
  height: 21px;
}
.our-services {
  position: relative;
  width: 100%;
  height: 731px;
  overflow: hidden;
  padding-left: 20px;
}
.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  color: #192040;
  width: 334px;
}
.title-wrapper {
  height: 31px;
}
.our-services__desc {
  height: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 710px;
}

.swiper-wrapper__services {
  display: flex;
  width: 100% !important;
}

.swiper-slide__services {
  width: 320px !important;
  height: 492px;
}
.services__img-1 {
  height: 310px;
  width: 320px;
  background-size: contain;
}
.services__img-1 img {
  height: 310px;
  width: 320px;
}
.slider-discription__services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 30px 0px 30px;
  gap: 10px;
  width: 274px;
  height: 142px;
}
.slider__title-services {
  width: 274px;
  height: 42px;
}
.slider__title-services p {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #192040;
}
.slider__detals-services {
  width: 274px;
  height: 60px;
}
.slider__btn-services {
  background-color: transparent;
  padding: 0px;
  width: 145px;
}
.swiper-button-next__services {
  position: absolute;
  left: 97px;
  bottom: 54px;
  cursor: pointer;
}
.swiper-button-prev__services {
  position: absolute;
  left: 38.23px;
  bottom: 54px;
  cursor: pointer;
}
.swiper-scrollbar__services {
  width: 213px;
  height: 2px;
  background-color: #d2d2d9;
  position: absolute;
  bottom: 70px;
  left: 130px;
}
.swiper-scrollbar-drag {
  background-color: #828299;
  z-index: 100;
}
.all-services {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  color: #192040;
  font-weight: 700;
}

/******************************************************************/

.products {
  height: 645px;
  position: relative;
  width: 100%;
}
.products__buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px 0px 20px 0px;
  gap: 10px;
  width: 499px;
  height: 40px;
}
.products__buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 18px;
  gap: 10px;
  width: auto;
  height: 40px;
  border-radius: 50px;
  border: 2px solid #ededf2;
}
.red-btn {
  background-color: #ff2e51;
  color: #faf8f5;
}
.buttons__swiper-wrapper {
  display: flex;
  width: 499px;
}
.swiper-wrapper__products {
  display: flex;
  width: 1375px;
  height: 437px;
}
.swiper-slide__products {
  height: 416px;
  width: 334px !important;
  background: radial-gradient(
      73.86% 25.61% at 0% 100%,
      rgba(255, 181, 61, 0.08) 0%,
      rgba(255, 181, 61, 0) 100%
    ),
    #fffefc;
}

.products__img {
  height: 334px;
  width: 334px;
  background-size: contain;
}
.products__img img {
  height: 334px;
  width: 334px;
}
.products__info {
  display: flex;
  justify-content: space-between;
  width: 274px;
  height: 21px;
  padding: 20px 0px 5px 30px;
}
.products__name p {
  color: #192040;
  font-weight: 500;
}
.products__article {
  display: flex;
  justify-content: space-between;
  width: 274px;
  height: 21px;
  padding: 0px 0px 20px 30px;
}
.buy-container {
  position: relative;
  height: 180px;
  width: 350px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.modal {
  display: none;
  flex-direction: row;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
  width: 290px;
  height: 93px;
  border-top: 2px solid #ffffff;
  transition: all 5s ease;
}
.modal__flex {
  display: flex;
  transition: all 5s ease;
}
.ditail__modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  gap: 10px;
  width: 140px;
  height: 52px;
  background: #ff2e51;
  color: white;
  border-radius: 50px;
}
.buy {
  width: 126px;
  height: 23px;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  text-decoration-line: underline;
  color: #192040;
}
.products__discounted_price p {
  font-size: 16px;
  color: #192040;
  font-weight: 600;
}
.products__price p {
  text-decoration: line-through;
  font-size: 12px;
  line-height: 130%;
}
.article-number p {
  font-size: 12px;
}
.swiper-button-next__products {
  position: absolute;
  left: 97px;
  bottom: 54px;
  cursor: pointer;
}
.swiper-button-prev__products {
  position: absolute;
  left: 38.23px;
  bottom: 54px;
  cursor: pointer;
}
.swiper-scrollbar__products {
  width: 213px;
  height: 2px;
  background-color: #d2d2d9;
  position: absolute;
  bottom: 70px;
  left: 130px;
}
.use-place{
  display: none;
}
.request {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid #ededf2;
  border-radius: 40px;
  width: 80%;
  max-width: 1366px;
  height: 459px;
  padding: 30px;
  gap: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0px;
}

.small-font {
  font-size: 12px;
}
.inputs__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 234px;
  height: 60px;
  background: #fffefc;
  border: 2px solid #ededf2;
  border-radius: 10px;
  padding: 0px 20px;
}
.inputs input {
  padding: 20px 25px;
}
.send {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: 274px;
  background: #ff2e51;
  border-radius: 50px;
  color: #ffffff;
  font-weight: 600;
}
.inputs-1430 {
  display: none;
}
.request__button {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.text-warning {
  height: 34px;
  max-width: 300px;
  font-size: 12px;
  text-align: center;
}
.request__img img,
.request__colors {
  display: none;
}
.blog {
  width: 100%;
  height: 558px;
  position: relative;
  overflow: hidden;
}
.swiper-slide__blog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin: 30px 0px;
  width: 334px !important;
  height: 389px;
  background: radial-gradient(
        99.36% 102.39% at 100% 76.24%,
        rgba(211, 229, 207, 0.08) 0%,
        rgba(211, 229, 207, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        68.66% 43.09% at 0% 100%,
        rgba(207, 213, 229, 0.15) 0%,
        rgba(207, 213, 229, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #fffefc;

  border-radius: 30px;
}
.blog__img {
  position: relative;
}
.slide-btn {
  position: absolute;
  left: 40px;
  bottom: 25px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;

  position: absolute;
  width: 185px;
  height: 36px;
  background: #ff2e51;
  border-radius: 50px;
  font-weight: 600;
  color: #ffffff;
}
.eye {
  padding-top: 1px;
}
.slide-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  width: 274px;
  height: 133px;
  padding-left: 30px;
}
.f-w600 {
  height: 63px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #192040;
}
.hideen-text {
  display: none;
}
.swiper-wrapper__blog {
  display: flex;

  width: 678px !important;
}
.swiper-button-next__blog {
  position: absolute;
  left: 97px;
  bottom: 54px;
  cursor: pointer;
}
.swiper-button-prev__blog {
  position: absolute;
  left: 38.23px;
  bottom: 54px;
  cursor: pointer;
}
.request-description {
  max-width: 513px;
}
.swiper-scrollbar__blog {
  width: 213px;
  height: 2px;
  background-color: #d2d2d9;
  position: absolute;
  bottom: 70px;
  left: 130px;
}
.publication {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 274px;
  height: 18px;
  padding-left: 30px;
  padding-bottom: 0px;
}
.views {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 49px;
}
.views__num {
  font-weight: 600;
  font-size: 12px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0px 20px;
  gap: 40px;
  border-top: 1px solid #d2d2d9;

  width: 334px;
  height: 712px;
}
.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 334px;
  height: 618px;
}
.catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 334px;
  height: 186px;
}
.catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 145px;
  width: 330px;
  gap: 5px;
}
.footer h6,
.mail {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #192040;
}
.footer__services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 334px;
  height: 196px;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 155px;
}
.about-us {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 334px;
  height: 158px;
}
.about-us__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 162px;
}
.contacts__content {
  width: 154px;
  height: 46px;
}
.about-us__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 162px;
  height: 143px;
}
.footer__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #192040;
}
.footer a {
  text-decoration: none;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 58px;
  height: 24px;
}
.icon img {
  width: 24px;
  height: 24px;
}
.date {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0px;
  width: 334px;
  height: 54px;
  border-top: 1px solid #d2d2d9;
}
.date-1430 {
  display: none;
}
.made {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 122px;
  height: 17px;
}
.date-text {
  width: 162px;
  height: 34px;
}
@media (min-width: 475px) {
  .content {
    background-image: url("img/Rectangle\ 4header1920.png");
    width: 98%;
  }
  .header {
    width: 100%;
  }
  .slider__title {
    height: 130px;
    max-width: 710px;
  }
  .slide1 {
    background-position: 0px;
  }
  .slider-discription {
    max-width: 710px;
    gap: 20px;
    height: 328px;
    justify-content: space-between;
  }
  .slider__detals {
    height: 66px;
  }
  .swiper {
    height: 600px;
  }
  .swiper-wrapper {
    width: 306%;
  }
  .swiper-scrollbar {
    transform: translate(-50%);
    left: 50%;
    bottom: 20px;
    top: auto;
    width: 400px;
    background-color: #fffefc;
  }
  .swiper-scrollbar-drag {
  
    background-color: #ededf2;
  }
  .swiper-button-next {
    right: 36px !important;
    top: 50% !important;
    left: auto;
  }
  .swiper-button-prev {
    top: 50% !important;
  }
  .slider-discription {
    padding: 90px 0px 0px 70px;
  }
  .swiper-wrapper__products {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .request {
    width: 83%;
    max-width: 1430px;
    padding: 60px 120px;
    gap: 20px;
    border-radius: 40px;
    height: 347px;
  }
  .send {
    width: 236px;
  }
  .text-warning {
    text-align: left;
  }
  .request__button {
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 566px;
    height: 62px;
  }
  .inputs {
    display: none;
  }
  .inputs-1430 {
    display: flex;
    gap: 10px;
    width: 710px;
    height: 89px;
    padding: 30px 0px 10px 0px;
  }
  .inputs__wrapper {
    width: 310px;
  }
  .slider__title p {
    font-size: 50px;
  }
  .slider__detals p {
    font-size: 16px;
  }
  .slider-discription {
    padding: 139px 0px 50px 120px;
  }
  .services {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .service {
    height: 343px;
    padding: 50px 22px 40px 22px;
  }
  .service__description-font {
    font-size: 16px;
  }
  .service__title-font {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .main{
    gap: 120px;
  }
  .blog {
    height: 641px;
    margin-bottom: 60px;
  }
  .swiper-slide__blog {
    height: 461px;
  }
  .swiper-slide__blog,
  .blog__img,
  .blog__img img {
    width: 470px !important;
  }
  .swiper-wrapper__blog {
    max-width: 1430px !important;
  }
  .swiper-button-next__blog,
  .swiper-button-prev__blog {
    bottom: 14px;
  }
  .swiper-scrollbar__blog {
    bottom: 23px;
    width: 970px;
    left: 156px;
  }
  .f-w600 {
    width: 390px;
    height: 46px;
    font-size: 18px;
    line-height: 130%;
  }
  .slide-blog__text {
    width: 390px;
    height: 65px !important;
    font-size: 16px;
  }
  .publication {
    width: 390px;
    height: 20px;
  }
  .all-services__blog {
    display: block;
    position: absolute;
    bottom: 13px;
    right: 0px;
    transform: none;
    left: auto;
  }
  body {
    gap: 60px;
  }
  .content {
    width: 100%;
    gap: 0px;
    padding: 0px;
    background-position: center;
  }

  .header__text {
    position: absolute;
    left: 485px;
    margin-right: 50px;
  }
  .header__text p {
    font-size: 16px;
  }
  .btn-goto {
    display: flex;
  }
  .wallpaper {
    position: absolute;
    left: 1214px;
    top: -6px;
  }
  .services {
    display: flex;
    flex-direction: row;
    height: 433px;
  }
  .products__buttons {
    padding: 50px 0px 30px 0px;
    width: 610px;
    height: 52px;
  }
  .products__buttons-container {
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    height: 52px;
    padding: 15px 0px;
  }
  .btn1 {
    width: 212px !important;
  }
  .btn2 {
    width: 186px !important;
  }
  .btn3 {
    width: 192px !important;
  }
  .buttons__swiper-wrapper {
    width: 610px;
  }
  .service__description {
    width: 270px;
    height: 132px;
  }
}
@media (min-width: 1600px) {
  .swiper-scrollbar__blog {
    width: 1075px;
  }
  .service {
    width: 270px;
    padding: 50px 40px 40px 40px;
  }
  .block-desc {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 130px;
    width: 1430px;
    height: 326px;
  }
  .block-desc__title {
    width: 470px;
    height: 104px;
  }

  .block-desc__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 830px;
    height: 326px;
  }
  .swiper-slide__products,
  .products__img,
  .products__img img {
    width: 350px !important;
  }
  .swiper-wrapper__products {
    max-width: 1430px !important;
  }

  .header {
    height: 234px;
  }
  .header__information {
    display: none;
  }
  .header__information-1430-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 184px;
    background-color: #ffffff;
  }
  .header__information-1430 {
    height: 184px;
    display: flex;
    align-items: center;
    gap: 101.5px;
  }
  .logo-1430 {
    width: 136.4px;
    height: 124px;
    position: relative;
  }
  .logo_img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .info-block {
    display: flex;
    flex-direction: column;
    width: 1204px;
    height: 184px;
  }
  .header-contacts {
    position: relative;
    display: flex;
    align-items: center;
    gap: 55px;
    height: 92px;
    border-bottom: 1px solid #ededf2;
  }
  .header-contacts .about-us__content-1430 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    width: 553px;
  }
  .info-block .about-us__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    height: 94px;
    width: 1190px;
  }
  .info-block a {
    text-decoration: none;
  }
  .info-block h6 {
    font-weight: 600;
    font-size: 16px;
    color: #192040;
  }
  .catalog-1430 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 222px;
    height: 54px;
    background: #ff2e51;
    border-radius: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
  }
  .info-block__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 30px 15px 56px;
    gap: 10px;
    position: absolute;
    width: 582px;
    height: 52px;
    border: 1px solid #ededf2;
    border-radius: 50px;
    position: relative;
  }
  .search-1430 {
    position: absolute;
    left: 30px;
    z-index: 30;
    width: 16px;
    height: 16px;
  }
  .our-services {
    height: 718px;
  }
  .swiper-slide__services {
    width: 350px !important;
    height: 552px;
  }
  .services__img-1 {
    height: 320px;
    width: 350px;
  }
  .services__img-1 img {
    height: 320px;
    width: 350px;
  }
  .slider-discription__services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px 0px 40px;
    gap: 10px;
    width: 270px;
    height: 177px;
  }
  .slider__title-services {
    height: 69px;
  }
  .slider__title-services p {
    font-size: 18px;
  }
  .slider__detals-services {
    height: 66px;
  }
  .slider__detals-services p {
    font-size: 16px;
  }
  .scrollbar__services {
    display: none;
  }
  .swiper-button-next__services,
  .swiper-button-prev__services {
    display: none;
  }
  .swiper-button-next__products,
  .swiper-button-prev__products {
    bottom: 13px;
  }
  .swiper-scrollbar__products {
    display: block !important;
    bottom: 23px;
    left: 156px;
  }
  .all-services__products {
    display: block;
    position: absolute;
    bottom: 13px;
    right: 0px;
    transform: none;
    left: auto;
  }
  .products {
    height: 699px;
  }
  .title-wrapper {
    height: 52px;
  }
  .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    color: #192040;
    width: 400px;
  }
  .our-services__desc {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .all-services-s {
    display: none;
  }
  /********************************************************************************************/
  .use-place {
    display: block;
    width: 1430px;
    height: 1226px;
  }
  .use__desc {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 710px;
    height: 44px;
    font-size: 16px;
  }
  .sliders {
    display: grid;
    width: 1430px;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 515px;
    gap: 30px 10px;
  }
  .use__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fff;
    padding: 0px;
    width: 710px;
    height: 515px;
    border-radius: 30px;
  }

  .swiper-place-1,
  .swiper-place-2,
  .swiper-place-3,
  .swiper-place-4{
    position: relative;
    width: 710px;
    height: 515px;
  }

.search-use{
  display: none;
  position: absolute;
  left: 50%;
  top: 168px;
  transform: translate(-50%);
  width: 64px;
  height: 64px;
  z-index: 1;
}

  .swiper-wrapper__use {
    width: 1430px !important;
  }
  .swiper-button-prev__use1,
  .swiper-button-prev__use2,
  .swiper-button-prev__use3,
  .swiper-button-prev__use4 {
    position: absolute;
    top: 190px;
    left: 38.23px;
  }
  .swiper-button-next__use1,
  .swiper-button-next__use2,
  .swiper-button-next__use3,
  .swiper-button-next__use4 {
    position: absolute;
    top: 190px;
    right: 38.23px;
  }
  .use__slide img {
    width: 710px;
    height: 400px;
    border-radius: 30px;
  }
  .use__slide p{
    margin-bottom: 30px;
    margin-left: 40px;
    font-size: 16px;
    
  }
  .use__slide h6{
    margin-top: 13px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 18px;
    color: #192040;
  }
  .request__img {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 458px;
    height: 324px;
    border-radius: 0px 40px 0px 0px;
    z-index: 1;
  }
  .request__img img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0px 40px 0px 0px;
  }
  .request__colors {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 590px;
    height: 352px;
    border-radius: 0px 0px 40px 0px;
  }
  .request__colors img {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 40px 0px;
  }
  .footer {
    flex-direction: column;
    width: 1430px;
    gap: 60px;
    height: 414px;
    padding: 60px 0px 20px;
  }
  .info-container {
    flex-direction: row;
    width: 1430px;
    justify-content: space-between;
    height: 295px;
  }
  .footer h6 {
    font-size: 18px;
  }
  .catalog {
    gap: 30px;
    width: 460px;
    height: 235px;
  }
  .catalog__list p {
    font-size: 16px;
    width: 220px;
    height: 22px;
  }
  .catalog__list {
    gap: 10px;
    width: 460px;
    height: 182px;
  }
  .date {
    display: none;
  }
  .footer__services {
    gap: 30px;
    width: 300px;
    height: 237px;
  }
  .services__list {
    gap: 10px;
    width: 300px;
    height: 184px;
  }
  .services__list p {
    width: 300px;
    height: 44px;
    font-size: 16px;
    line-height: 140%;
  }
  .about-us {
    justify-content: space-between;
    width: 470px;
    height: 186px;
  }
  .about-us__menu {
    gap: 30px;
    width: 140px;
    height: 182px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 230px;
    height: 186px;
  }
  .date-1430 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 0px;
    width: 1430px;
    height: 37px;
    border-top: 1px solid #d2d2d9;
  }
  .date-text {
    width: 231px;
    height: 17px;
    font-size: 12px;
  }
}
